body {
    margin: 0;
    padding: 0;
}

.background_image {
    position: absolute;
    top: 0;
}

.background_image img {
    width: 100%;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: white;
    position: relative;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: white;
}

p {
    font-family: sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
    font-size: 20px;
    color: white;
}
.my_photo {
    width: 20%;
    padding-left: 40%;
}
.nav_bar {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
}
.nav_bar_list {
    float: left;
}

.nav_bar_list a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:sans-serif;
}

.nav_bar_list a:hover {
    background-color: rgba(250,0,0,0.7);
}
.active {
    background-color: rgba(250,0,0,0.5);
}
.links {
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    border-radius: 3px;
}

.links:hover {
    background-color: rgba(0,0,0,0.7)
}

.links:visited {
    color: white;
}
    
.link_reparatieexpert {
    text-align: center;
    top: 5px;
    position: relative;
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0);
    border: 1px solid white;
    border-radius: 3px;
}

.link_reparatieexpert:hover {
    background-color: rgba(0,0,0,0.7)
}

.link_reparatieexpert:visited {
    color: white;
}

#logo_div {
    width: 100%;
    height: 100%;
}

#youtube_div {
    position: relative;
    width: 290px;
    height: 170px;
    background-image: url(youtube.jpg);
    background-size: cover;
    margin-bottom: 20px;
    left: 105.25%;
}

#youtube_link:link {
    position: absolute;
    width: 290px;
    height: 170px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#youtube_link:hover {
    background-color: rgba(0,0,0,0.5)
}

#youtube_link:visited {
    color: white;
}

#freecodecamp_div {
    position: relative;
    width: 600px;
    height: 200px;
    background-image: url(freecodecamp.jpg);
    background-size: cover; 
    margin-bottom: 20px;
    left: 2%;
}

#freecodecamp_link:link {
    position: absolute;
    width: 600px;
    height: 200px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#freecodecamp_link:hover {
    background-color: rgba(0,0,0,0.5)
}

#freecodecamp_link:visited {
    color:white;
}

#codecademy_div {
    position: relative;
    width: 600px;
    height: 200px;
    background-image: url(codecademy.jpg);
    background-size: cover;
    margin-bottom: 20px;
    left: 105%;
}

#codecademy_link:link {
    position: absolute;
    width: 600px;
    height: 200px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#codecademy_link:hover {
    background-color: rgba(0,0,0,0.5)
}

#codecademy_link:visited {
    color:white;
}

#w3schools_div {
    position: relative;
    width: 70%;
    height: 170px;
    background-image: url(w3schools.jpg);
    background-size: cover;
    margin-bottom: 40px;
    left: 2%;
}

#w3schools_link:link {
    position: absolute;
    width: 100%;
    height: 170px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#w3schools_link:hover {
    background-color: rgba(0,0,0,0.5)
}

#w3schools_link:visited {
    color:white;
}

.wellant_logo {
    width: 20%;
    padding-left: 40%
}
.davinci_logo {
    width: 20%;
    padding-left: 40%
}

.white_box {
    margin: auto;
    width: 67%;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid black;
    opacity: 0.6;
    padding-top: 20px;
}

div.white_box p {
    margin: 1%;
    font-weight: bold;
    color: white;
}